.st-emotion-cache-1wbqy5l {
  display: none;
}
.row-widget.stCheckbox span {
  display: none !important;
}

[data-testid="stImage"] img {
  height: 50%;
}
[data-testid="stSidebarNav"] {
  display: none !important;
}
